/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f4f4f4;
}

/* Шапка */
header {
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  height: 61px;
  width: 158px;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
}

.links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  gap: 8px;
}

.links a:hover {
  text-decoration: underline;
}

.links img {
  height: 16px;
  width: 16px;
}

/* Основной контейнер */
.main-container {
  display: flex;
  margin-top: 20px;
}

/* Таблица записей */
.table {
  width: 100%;
  background: white;
  margin-left: 24px;
  margin-right: 24px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}

.table th {
  font-size: 12px;
  font-weight: 400;
  color: #b0b0b0;
}

.table a {
  text-decoration: none;
  color: #b0b0b0;
}

.table a:hover {
  border-bottom: #b0b0b0 1px solid;
}

.table td {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow-up {
  transform: rotate(180deg);
}

/* Пагинация */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.pagination-btn {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #00923a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #007a2e;
}

#pageIndicator {
  font-size: 14px;
  font-weight: bold;
}

/* Фильтры */
.filters {
  width: 350px;
  height: 100%;
  background: white;
  margin-left: 24px;
  padding: 24px 16px 16px 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.filter-label {
  font-size: 12px;
  font-weight: 400;
  color: #b0b0b0;
  margin-bottom: 15px;
}

.filter-search {
  margin-bottom: 15px;
}

.filter-search input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  box-sizing: border-box;
}

.filter-header {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-header::after {
  content: "›";
  font-size: 18px;
  transform: rotate(90deg);
  transition: transform 0.2s;
  color: #00923a;
}

.filter-header.collapsed::after {
  transform: rotate(0deg);
}

.filter-items,
.filter-content {
  display: block;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  max-height: 500px;
  opacity: 1;
}

.filter-items.collapsed,
.filter-content.collapsed {
  max-height: 0;
  opacity: 0;
}

.filter-item {
  padding: 8px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-item input {
  width: 16px;
  height: 16px;
  accent-color: #00923a;
  cursor: pointer;
}

.filter-item:last-child {
  margin-bottom: 15px;
}

.filter-date-input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
} /* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f4f4f4;
}

/* Шапка */
header {
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  height: 61px;
  width: 158px;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
}

.links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  gap: 8px;
}

.links a:hover {
  text-decoration: underline;
}

.links img {
  height: 16px;
  width: 16px;
}

/* Основной контейнер */
.main-container {
  display: flex;
  margin-top: 20px;
}

/* Таблица записей */
.table {
  width: 100%;
  background: white;
  margin-left: 24px;
  margin-right: 24px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}

.table th {
  font-size: 12px;
  font-weight: 400;
  color: #b0b0b0;
}

.table a {
  text-decoration: none;
  color: #b0b0b0;
}

.table a:hover {
  border-bottom: #b0b0b0 1px solid;
}

.table td {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}

/* Стили для строк таблицы при наведении */
.record-row {
  cursor: pointer; /* Устанавливаем курсор pointer */
  transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.record-row:hover {
  background-color: #b0b0b0; /* Цвет строки при наведении */
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow-up {
  transform: rotate(180deg);
}

/* Пагинация */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.pagination-btn {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #00923a;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #007a2e;
}

#pageIndicator {
  font-size: 14px;
  font-weight: bold;
}

/* Фильтры */
/* Стили для кнопки "Показать все" */
.show-all-btn {
  display: inline-block; /* Убираем блоковое поведение */
  margin: 5px 0 15px 0; /* Отступы: сверху 5px, снизу 15px */
  padding: 8px 16px;
  background-color: #00923a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.show-all-btn:hover {
  background-color: #007a2e;
}

.show-all-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.filters {
  width: 350px;
  height: 100%;
  background: white;
  margin-left: 24px;
  padding: 24px 16px 16px 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.filter-label {
  font-size: 12px;
  font-weight: 400;
  color: #b0b0b0;
  margin-bottom: 15px;
}

.filter-search {
  margin-bottom: 15px;
}

.filter-search input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  box-sizing: border-box;
}

.filter-header {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-header::after {
  content: "›";
  font-size: 18px;
  transform: rotate(90deg);
  transition: transform 0.2s;
  color: #00923a;
}

.filter-header.collapsed::after {
  transform: rotate(0deg);
}
/* тут скролл добавил*/
.filter-items {
  max-height: 200px; 
  overflow-y: auto;
  padding-right: 10px; 
  margin-bottom: 10px;
}

.filter-content {
  display: block;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  max-height: 500px;
  opacity: 1;
}

.filter-items.collapsed,
.filter-content.collapsed {
  max-height: 0;
  opacity: 0;
}

.filter-item {
  padding: 8px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-item input {
  width: 16px;
  height: 16px;
  accent-color: #00923a;
  cursor: pointer;
}

.filter-item:last-child {
  margin-bottom: 15px;
}

.filter-date-input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.filter-buttons {
  display: flex;
  flex-direction: column; /* Сделаем кнопки вертикально */
  gap: 10px;
  margin-top: 20px;
}

.filter-apply-btn {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #00923a; /* Зелёная */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-apply-btn:hover {
  background-color: #007a2e;
}

.filter-reset-btn {
  padding: 8px 16px;
  font-size: 14px;
  background-color: white; /* Белый фон */
  color: #00923a; /* Зелёный текст */
  border: 1px solid #00923a; /* Зелёная обводка */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-reset-btn:hover {
  background-color: #f4f4f4;
  color: #007a2e;
  border-color: #007a2e;
}


