<div class="modal">
  <!-- Кнопка закрытия -->
  <span class="close-btn">&times;</span>

  <!-- Заголовок -->
  <h1>Добавить клиента</h1>

  <!-- Форма для отправки данных -->
  <form id="client-form" method="post" action="{% url 'add_client_modal' %}">
    {% csrf_token %}

  <!-- Поля ввода данных клиента -->
  <div class="form-group">
    <label for="last_name">Фамилия</label>
    <input id="last_name" name="last_name" type="text" class="search-input" />
  </div>

  <div class="form-group">
    <label for="first_name">Имя</label>
    <input id="first_name" name="first_name" type="text" class="search-input" />
  </div>

  <div class="form-group">
    <label for="surname">Отчество</label>
    <input id="surname" name="surname" type="text" class="search-input" />
  </div>

  <div class="form-group">
    <label for="phone_number">Номер телефона</label>
    <input id="phone_number" name="phone_number" type="text" class="search-input" />
  </div>

  <!-- Кнопки действий -->
  <div class="button-container">
    <div id="success-message" class="success-message" style="display: none">
      Клиент успешно сохранен
    </div>
    <div id="error-message" class="error-message" style="display: none; color: red;"></div>
    <button type="submit" class="save-btn">Сохранить</button>
    <span class="delete-link">Отмена</span>
  </div>
  <!-- Модальное окно подтверждения удаления -->
  <div class="confirmation-modal">
    <div class="confirmation-content">
      <p>Вы уверены, что хотите отменить действия?</p>
      <div class="confirmation-buttons">
        <button class="confirmation-btn confirm-btn">Да</button>
        <button class="confirmation-btn cancel-btn">Нет</button>
      </div>
    </div>
  </div>
</div>