<div class="modal" id="change-client-modal">
  <!-- Кнопка закрытия -->
  <span class="close-btn">&times;</span>

  <!-- Заголовок -->
  <h1>Изменить клиента</h1>

  <!-- Форма для изменения данных клиента -->
  <form id="change-client-form" method="post" action="{% url 'change_client_modal' %}">
    {% csrf_token %}
    <input type="hidden" id="client-id" name="client_id">

    <!-- Поиск клиента -->
    <div class="search-container">
      <label for="client-search">Клиент</label>
      <input id="client-search" type="text" class="search-input" placeholder="Поиск клиента..." autocomplete="off" />
      <div class="suggestions"></div>
    </div>

    <!-- Поля ввода данных клиента -->
    <div class="form-group">
      <label for="last_name">Фамилия</label>
      <input id="last_name" name="last_name" type="text" class="search-input" required />
    </div>

    <div class="form-group">
      <label for="first_name">Имя</label>
      <input id="first_name" name="first_name" type="text" class="search-input" required />
    </div>

    <div class="form-group">
      <label for="surname">Отчество</label>
      <input id="surname" name="surname" type="text" class="search-input" />
    </div>

    <div class="form-group">
      <label for="phone_number">Номер телефона</label>
      <input id="phone_number" name="phone_number" type="text" class="search-input" required />
    </div>

    <!-- Кнопки действий -->
    <div class="button-container">
      <div id="success-message" class="success-message" style="display: none"></div>
      <div id="error-message" class="error-message" style="display: none; color: red;"></div>
      <button type="submit" class="save-btn">Сохранить изменения</button>
      <span class="delete-client-link">Удалить клиента</span>
    </div>
  </form>

  <!-- Модальное окно подтверждения удаления -->
  <div class="confirmation-modal">
    <div class="confirmation-content">
      <p>Вы уверены, что хотите удалить клиента?</p>
      <div class="confirmation-buttons">
        <button class="confirmation-btn confirm-delete-client-btn">Да</button>
        <button class="confirmation-btn cancel-btn">Нет</button>
      </div>
    </div>
  </div>
</div>