<!-- поиск и сортировка -->
<form method="get" class="mb-4">
    <div class="row g-3 align-items-center">
        <!--  поиска -->
        <div class="col-md-8">
            <input 
                type="text" 
                name="search" 
                class="form-control" 
                placeholder="поиск..." 
                value="{{ search_query }}"
            >
        </div>
        
        <!-- Кнопки действия -->
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Найти</button>
            {% if search_query or current_sort == 'asc' %}
                <a href="{% url 'client_list' %}" class="btn btn-outline-secondary">Сбросить</a>
            {% endif %}
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Телефон</th>
            <th>Дата регистрации</th>
        </tr>
    </thead>
    <tbody>
        {% for client in page_obj %}
        <tr>
            <td>{{ client.last_name }}</td>
            <td>{{ client.first_name }}</td>
            <td>{{ client.surname }}</td>
            <td>{{ client.phone_number }}</td>
            <td>{{ client.created_at }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Нет клиентов</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Пагинация -->
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">предыдущая</a>
    {% endif %}
    
    <span class="current">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
    </span>
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">следующая</a>
    {% endif %}
</div>